@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Barlow", "Fraunces", sans-serif;
}

.home-desktop-bg {
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* This will ensure the image covers the entire container */
  background-attachment: fixed; /* This will make the background image fixed when scrolling */
  background-clip: border-box; /* This will clip the background to the border box */
  background-origin: padding-box; /* This will position the background relative to the padding box */
}

li {
  @apply hover:cursor-pointer;
}

#about h1 {
  @apply text-xl font-bold my-2 w-72;
}

#about h2 {
  @apply text-xl font-bold my-2;
}

p {
  @apply text-sm w-96;
}


article {
  @apply mt-12 hover:cursor-pointer flex w-28 hover:border-b-4 hover:border-b-SoftRed;
}

#testimonials img {
  @apply my-4;
}

#testimonials #name {
  @apply font-bold text-base;
}

#testimonials #position {
  @apply text-pretty text-GrayishBlue;
}

#testimonials p {
  line-height: 22px;
  word-spacing: 2px;
  @apply w-72;
}

.graphics-bg {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-bg {
  background-image: url(./images/desktop/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #footer p{
    @apply hover:text-white hover:cursor-pointer
  }

  #footer img{
    @apply hover:cursor-pointer
  }